/* You can add global styles to this file, and also import other style files */

//RESET 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, 
body {
    height: 100%;
}

a {
    color: white !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2709c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff9472, #f2709c) no-repeat fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff9472, #f2709c) no-repeat fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
    color: white;
    font-size: 32px;
    margin: 10px 0;
    width: 100%;
    border: none;
    outline: none;
    background: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
  }

  h3 {
      color: #4a4a4a;
      padding: 7px;
      padding-left: 0px;
      font-size: 24px;
      border-radius: 6px;
      text-align: left;
      color: white;
  }

h1 {
    opacity: 0.7;
    font-size: 28px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;
    margin: 0 -20px;
    padding-left: 15px;
    text-align: left;
    color: white;
    margin-bottom: 15px;
}
.back-button {
    height: 44px;
    width: 44px;
    background-image: url("/assets/back.png");
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    border-radius: 50%;
    margin-bottom: 10px;
}

li {
    list-style: none;
    border-bottom: #f5f5f5 1px solid;
    text-align: left;
    padding-left: 20px;
}


.button {
    border-radius: 6px;
    box-shadow: 3px 3px 20px #ff2d2e;
    padding: 12px;
    line-height: 44px;
    max-width: 400px;
    width: 90%;
    color: white;
    background: #ff2d2e;
    font-weight: bold;
    margin: 20px auto;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}