

.track-list-search{
    margin-top: 15px;
    overflow: scroll;
    position: absolute;
    bottom: 50px;
    top: 50px;
    width: 100%;
    left: 0px;
    li {
        margin: -15px;
        padding: 10px 15px;
        position: relative;
        line-height: 60px;
        padding-left: 30px;

        &:hover {
            background: #f5f5f5;
            cursor: pointer;
        }
        .name {
            font-size: 20px;
            font-weight: bold;
            color: #4a4a4a;
            margin-bottom: 10px;
        }

        .status {
            &.selected {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: green;
                position: absolute;
                right: 50px;
                top: 15px;
            }
        }
    }
}

.add-button {
    position: absolute;
    bottom: 0px;
    height: 44px;
    line-height: 44px;
    background: #0D283F;
    color: white;
    font-weight: bold;
    margin-left: -30px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
}