.schedule-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: white;
    padding: 20px;
}

.schedule {
    margin-top: 50px;
}

.schedule-item {
    font-size: 20px;
    border-bottom: 0px;
    padding: 0px;
    margin-bottom: 25px;

    a {
        display: block;
    }
    .schedule-date {
        margin-top: 18px;
        float: left;
        font-size: 36px;
        font-weight: bold;

        .schedule-day {
            font-size: 20px;
        }
    }

    .venue-info {
        float: right;
        width: 200px;
        white-space: nowrap;
    }
    .venue-img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: white;
        margin: auto;
        display: block;
        margin-bottom: 15px;
        background-size: contain; 
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.07);

        &.xfinity {
            background-image: url('/assets/image-4.png');
        }

        &.theatre {
            background-image: url('/assets/image-5.png');
        }
        &.darling {
            background-image: url('/assets/image-3.png');
        }
        &.pnc {
            background-image: url('/assets/image-2.png');
        }
    }
    .venue-name {
        text-align: center;
    }
}
