<div class="schedule-container">
  <h1>Imagine Dragon 2018 Tour</h1>
  <h5>Schedule</h5>
  <div class="schedule">
    <li  class="schedule-item">
      <a routerLink="/setlist" routerLinkActive="active">
        <div class="schedule-date">Tue<div class="schedule-day">Jun 5</div></div>
        <div class="venue-info">
            <img class="venue-img xfinity" />
            <div class="venue-name">Xfinity Center </div>
        </div>
        <div style="clear:both;"></div>
      </a>
    </li>
    <li  class="schedule-item">
        <div class="schedule-date">Wed<div class="schedule-day">Jun 6</div></div>
        <div class="venue-info">
            <img class="venue-img theatre"/>
            <div class="venue-name">Xfinity Theatre </div>
        </div>
        <div style="clear:both;"></div>

    </li>
    <li  class="schedule-item">
        <div class="schedule-date">Fri<div class="schedule-day">Jun 8</div></div>
        <div class="venue-info">
            <img class="venue-img darling"/>
            <div class="venue-name">Darling’s Waterford</div>
        </div>
        <div style="clear:both;"></div>
      </li>
      <li  class="schedule-item">
          <div class="schedule-date">Sat<div class="schedule-day">Jun 9</div></div>
          <div class="venue-info">
              <img class="venue-img pnc"/>
              <div class="venue-name">PNC Bank Arts Center</div>
          </div>
          <div style="clear:both;"></div>
      </li>
      <li  class="schedule-item">
          <div class="schedule-date">Mon<div class="schedule-day">Jun 11</div></div>
          <div class="venue-info">
              <img class="venue-img lakeview"/>
              <div class="venue-name">Lakeview Amphitheater</div>
          </div>
          <div style="clear:both;"></div>
      </li>
  </div>
</div>
