
.main-container {
    padding: 15px;
}

.search-container {
    padding: 15px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 15px;
    right: 15px;
    background: white;
    transition: cubic-bezier(.87,-.41,.19,1.44) 0.2s all;
    transform: scale(0.8);
    margin: 0 -15px;
    opacity: 0;
    transform: scale(0);

    &.visible {
        top: 0;
        opacity: 1;
        transform: scale(1)
    }
    z-index: 900;
}

.add-track-button {
    transition: cubic-bezier(.87,-.41,.19,1.44) 0.2s all;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #0D283F;
    color: white;
    font-weight: bold;
    width: 100%;
    font-size: 16px;
    width: 100%;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    background-image: url("/assets/add.svg");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 200;
}

.catalog-button {
    transition: cubic-bezier(.87,-.41,.19,1.44) 0.3s all;
    position: fixed;
    bottom: 100px;
    right: 15px;
    color: white;
    border: 1px solid #ffffff;
    font-weight: bold;
    width: 100%;
    font-size: 16px;
    width: 100%;
    text-align: center;
    height: 60px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    background: rgba(255,255,255,0.8);
    z-index: 200;
    width: 130px;
    line-height: 60px;
    color: #4a4a4a;
    opacity: 0;
    transform: scale(0);

    &.visible {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-cover {
    transition: cubic-bezier(.87,-.41,.19,1.44) 0.3s all;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    top: 0px;
    background: rgba(0,0,0,.5);
    z-index: 100;
    display: none;
    opacity: 0;

    &.visible {
        opacity: 1;
        display: block;
    }
}

.loading {
    font-size: 24px;
    margin: 15px 0;
}

.heat {
    float: right;
    width: 21px;
    height: 55px;
    background:url("/assets/heat.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-size: 21px;
    background-position: center;
}

.custom-button {
    transition: cubic-bezier(.87,-.41,.19,1.44) 0.3s all;
    position: fixed;
    bottom: 180px;
    right: 15px;
    color: white;
    border: 1px solid #ffffff;
    font-weight: bold;
    background: rgba(255,255,255,0.8);
    width: 100%;
    font-size: 16px;
    width: 100%;
    text-align: center;
    height: 60px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 200;
    width: 130px;
    line-height: 60px;
    color: #4a4a4a;
    opacity: 0;
    transform: scale(0);

    &.visible {
        transform: scale(1);
        opacity: 1;
    }
}

.recommended-set {
    border-radius: 30px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    float: right;
    color: #4a4a4a;
    padding: 14px;
    background-image: url("/assets/thermo.png");
    background-size: 100%;
    background-position: 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-weight: bold;
}

.track-list {
    padding-bottom: 70px;
    margin-top: 25px;
    .track {
        background: white;
        height: 55px;
        line-height: 55px;
        font-size: 16px;
        color: #4a4a4a;
        font-weight: bold;
    }

    .track-name {
        float: left;
    }

    display: none;

    &.visible {
        display: block;
    }
    transition: cubic-bezier(0.5, 0.31, 0.84, 0.05)    0.3s all;
}

.where {
    font-size: 16px;
}
.track-list-search{
    margin-top: 15px;
    overflow: scroll;
    position: absolute;
    bottom: 60px;
    top: 50px;
    width: 100%;
    left: 0px;
    li {
        margin: 0 -15px;
        padding: 10px 15px;
        position: relative;
        padding-left: 30px;
        height: 60px;
        line-height: 60px;
        transition: ease-in   0.1s all;

        &:hover {
            background: #f5f5f5;
            cursor: pointer;
        }
        .name {
            font-size: 20px;
            font-weight: bold;
            color: #4a4a4a;
            margin-bottom: 10px;
            float: left;
        }

        &.selected {
            padding-right: 55px;
        }

        .status {
            &.selected {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-image: url("/assets/checkmark.png");
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                right: 25px;
                top: 28px;
            }
        }
    }
}

.add-button {
    position: absolute;
    bottom: 0px;
    height: 44px;
    line-height: 44px;
    background: #0D283F;
    color: white;
    font-weight: bold;
    margin-left: -30px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
}
