<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="main-container">
  <div class="back-button" (click)="backToSchedule()"></div>
  <div style="clear:both;"></div>
  <h1>Setlist</h1>
  <div class="recommended-set">Recommend</div>
  <h3 class="when">Jun 6th 2018</h3>
  <h3 class="where">Xfinity Theatre</h3>
  <div class="add-track-button" placeholder="" (click)="openSearchOptions()"></div>
  <div [ngClass]="chooseSearch ? 'visible' : ''" class="catalog-button" (click)="openSearch()"><div class="button-text">Catalog</div></div>
  <div [ngClass]="chooseSearch ? 'visible' : ''" class="custom-button" (click)="openSearch()"><div class="button-text">Cover</div></div>
  <div [ngClass]="chooseSearch ? 'visible' : ''" class="modal-cover" (click)="closeSearch()"></div>
    <div class="track-list" [ngClass]="!searchOpen ? 'visible' : ''" [@flyInOut]="in">
      <li class="track">
        <div class="track-name">Radioactive</div>
        <div class="heat"></div>
        <div class="heat"></div>
        <div class="heat"></div>
      </li>
      <li class="track">
          <div class="track-name">Tiptoe</div>
      </li>
      <li class="track">
          <div class="track-name">It's Time</div>
      </li>
      <li class="track">
          <div class="track-name">Demons</div>
          <div class="heat"></div>
      </li>
      <li class="track">
          <div class="track-name">On Top Of the Worlds</div>
      </li>
      <li class="track">
          <div class="track-name">Amsterdam</div>
      </li>
      <li class="track">
          <div class="track-name">Hear Me</div>
          <div class="heat"></div>
          <div class="heat"></div>
      </li>
      <li class="track">
          <div class="track-name">Every Night</div>
      </li>
      <li class="track">
          <div class="track-name">Bleeding Out</div>
      </li>
      <li class="track">
          <div class="track-name">Underdog</div>
      </li>
      <li class="track">
          <div class="track-name">Nothing Left to Say</div>
      </li>
      <li class="track" *ngFor="let track of extraTracks">
          <div class="track-name">{{track.name}}</div>
      </li>
    </div>
    <div class="search-container" [ngClass]="searchOpen ? 'visible' : ''">
      <div class="back-button" (click)="closeSearchContainer()"></div>
      <div style="clear:both;"></div>
      <div class="loading" *ngIf="!catalog">
        Loading catalog...
      </div>
      <ul class="track-list-search">
        <div  *ngFor="let album of catalog">
        <li *ngFor="let song of album.songs" [ngClass]="song.selected ? 'selected' : ''" (click)="addTrack(song)">
            <div class="name">{{song.name}}</div>
            <div class="status" [ngClass]="song.selected ? 'selected' : ''"></div>
                <div *ngIf="song.name == 'Radioactive'" class="heat"></div>
                <div *ngIf="song.name == 'Radioactive'" class="heat"></div>
        </li>
        </div>
      </ul>
      <div class="add-button" (click)="addTracks()">Add Tracks</div>
    </div>       
</div>